main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 20px 10px;
  box-sizing: border-box;
}

h2 {
  text-transform: uppercase;
  margin: 10px 0;
}

.formulario-contacto {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-right: 20px;
}

.formulario-contacto h2 {
  align-self: flex-start;
}

.formulario-contacto form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.formulario-contacto form input {
  margin: 10px 0;
  padding: 5px;
}

.formulario-contacto form textarea {
  margin: 10px 0;
  padding: 5px;
}

.formulario-contacto form button {
  align-self: flex-end;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.datos-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.datos-contacto h2 {
  margin-bottom: 20px;
}

.datos-contacto ul {
  list-style: none;
}

.ubicacion {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  height: 500px;
}

.ubicacion iframe {
  height: 100%;
}
