a {
  text-decoration: none;
}
p {
  margin: 5px 0px;
}
h1 {
  margin: 50px;
  text-align: center;
}
h2 {
  margin: 30px;
  text-transform: uppercase;
}
h3 {
  margin: 20px 0px;
  font-size: 25px;
}
h4 {
  margin-bottom: 10px;
}
.image-text {
  display: flex;
  flex-direction: column;
}
.image-text .main-image img {
  width: 100%;
  height: auto;
}
.image-text article {
  margin: 0px 20px;
  width: auto;
  box-sizing: border-box;
}
.detalle-main article {
  margin: 20px 20px 0px 20px;
  width: 100%;
  box-sizing: border-box;
}
.detalle-main {
  display: flex;
  flex-wrap: wrap;
}
.detalle-main a {
  color: #000;
  font-weight: bold;
}
.detalle-main a:hover {
  text-decoration: underline;
}
.sintomas-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sintomas-img img {
  margin: 0px 0px;
  width: calc(50% - 20px);
}
.descripcion img {
  width: 100%;
}

.imagenes-medidas {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.imagenes-medidas article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  margin: auto;
}
.imagenes-medidas article ul {
  list-style: none;
}
.imagenes-medidas article img {
  width: calc(50% - 0.2em);
  justify-content: space-around;
  margin-bottom: 20px;
}
.info-mapa {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info-mapa article {
  margin: 10px 20px;
  box-sizing: border-box;
}
.informacion-hospital h3 {
  color: #0093d5;
}
.informacion-hospital ul {
  list-style: none;
  margin: 15px 0;
}
.informacion-hospital ul li {
  margin-bottom: 5px;
}
.informacion-hospital img {
  width: 100%;
}

.informacion-hospital iframe {
  margin-top: 0.25em;
  width: 100%;
  height: 100%;
}

#mensaje {
  width: 100%;
}

@media (min-width: 425px) {
  .sintomas-img img {
    margin: 0px 50px;
    width: calc(50% - 100px);
  }
}

@media (min-width: 768px) {
  h2 {
    width: 100%;
  }

  .imagenes-medidas article img {
    width: calc(33% - 0.2em);
  }

  .info-mapa {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .info-mapa article {
    margin: 0px 20px;
    width: calc(50% - 40px);
  }

  .informacion-hospital {
    width: calc(45% - 0.5em);
  }

  .informacion-hospital iframe {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .image-text {
    flex-direction: row;
  }
  .image-text article {
    width: calc(50% - 40px);
  }
  .detalle-main article {
    margin: 0px 20px;
    width: calc(50% - 40px);
    box-sizing: border-box;
  }
  .imagenes-medidas article img {
    width: calc(25% - 40px);
    margin-bottom: 20px;
  }
  .informacion-hospital img {
    width: 50%;
  }
}
