form button {
  padding: 6px;
  color: #fff;
  background-color: #0093d5;
  border-radius: 6px;
  border-style: none;
}
button:hover {
  opacity: 0.7;
}
#boton {
  margin: 5px 0px;
  width: calc(100% - 20px);
  text-align: end;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  box-sizing: border-box;
  align-content: space-between;
}
form input {
  border-color: rgb(161, 161, 161);
  border-style: solid;
  border-radius: 5px;
  margin: 2px 0px;
}

form textarea {
  border-color: rgb(161, 161, 161);
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin: 2px 0px;
}

form div {
  margin-bottom: 10px;
}
.input-100 {
  width: 100%;
}
.input-50 {
  width: 50%;
}
.input {
  padding: 5px 0px;
  width: calc(100% - 20px);
}
.select-sintoma {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55%;
  justify-content: space-around;
}
.select-sintoma h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  width: 100%;
}
.select-sintoma div {
  text-align: right;
  width: 20%;
}
.select-sintoma p {
  width: 80%;
}
