@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"); /*main*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /*h2*/

* {
  padding: 0%;
  margin: 0%;
}

/*HEADER*/
header {
  background-color: #0093d5;
}
header .contenedor {
  padding: 20px 0;
}
.logo {
  width: 25%;
  display: flex;
  position: relative;
  align-items: center;
}
.logo a {
  width: 100%;
}

.logo img {
  width: 50%;
  position: relative;
  left: 30%;
}
.buscador {
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
}
.buscador button {
  background-color: white;
  border: 0px;
  padding-top: 10px;
  border-radius: 0px 5px 5px 0px;
  height: 40px;
  width: 12%;
  background-image: url("../img/search-24px.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.buscador input {
  width: 80%;
  box-sizing: border-box;
  border: 0px;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
}

/*MENU*/
nav {
  background-color: #00aeff;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}
nav a:hover {
  color: #0093d5;
  background-color: #dcefff;
}

/*BODY*/
body {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  max-width: 1440px; /* Dejar que se expanda hasta el ancho maximo  */
  margin: auto;
}

main section {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  margin: 20px;
  font-size: 2em;
  text-transform: uppercase;
  color: #0093d5;
}

h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #0093d5;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

/*FOOTER*/
footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: white;
  font-size: large;
  background-color: rgb(36, 32, 32);
}

footer h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 5px;
}

.datos-grupo,
.menu-inferior {
  flex-grow: 1;
}

.datos-grupo {
  flex-basis: 60%;
}

.menu-inferior a:hover {
  text-decoration: underline;
}

.redes {
  flex-basis: 100%;
}

.redes .iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 200px;
}

.redes .iconos a {
  flex-basis: 33%;
  max-width: 45px;
}

.redes .iconos a img {
  -webkit-filter: invert(0.75);
  filter: invert(0.75);
}

.redes .iconos a img:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@media (min-width: 520px) {

  .logo img {
  width: 20%;
  position: relative;
  left: 50%;
  }

  .buscador button {
    height: 40px;
    width: 4%;
  }

  footer {
    justify-content: space-around;
  }

  .redes,
  .datos-grupo,
  .menu-inferior {
    flex-basis: calc(33% - 20px);
    flex-grow: 0;
    max-width: 200px;
  }
}

@media (min-width: 1440px) {
  main {
    width: 80%;
  }

  .redes,
  .datos-grupo,
  .menu-inferior {
    max-width: 180px;
  }
}
